<%= form_with(model: @access_record, local: true) do |f| %>

  <% if @access_record.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@access_record.errors.count, "error") %>
        this access_record from being saved:
      </h2>
      <ul>
        <% @access_record.errors.full_messages.each do |msg| %>
          <li><%= msg  %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <section class="form--section">
    <div class="form--field -required">
      <%= styled_label_tag "Client Name", "Client Name" %>
      <div class="form--field-container">
        <span class="form--field-container">
          <span class="form--text-field-container -middle">
            <%= f.select(:client_id, options_for_select(
        @clients.collect{ |c| [c.company_name, c.id] }, :selected => f.object.client_id),class: 'new', include_blank: "Select a Client") %>
          </span>
        </span>
      </div>
    </div>
    <div class="form--field -required">
      <%= styled_label_tag "Project Namme", "Project Name" %>
      <div class="form--field-container">
        <span class="form--field-container">
          <span class="form--text-field-container -middle">
            <%= f.select(:project_id, options_for_select(
        @projects.collect{ |p| [p.name, p.id] }, :selected => f.object.project_id), container_class: '-middle', include_blank: "Select a Project") %>
          </span>
        </span>
      </div>
    </div>
    <div class="form--field -required">
      <label class="form--label" title="Access Type" for="access_record_access_type">Access Type</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle">
          <%= f.select(:access_type, AccessRecord::ACCESS_TYPE.collect {|k, v| [ k, v ] }, {:selected => f.object.access_type, include_blank: "Select a Access Type", :class => 'new', :id => 'new', required: true }) %>
        </span>
      </span>
    </div>
    <div class="form--field -required">
      <label class="form--label" title="Host Address" for="access_record_host_address">Host Address</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle">
          <%= f.text_field :host_address, container_class: '-middle',  required: true %>
        </span>
      </span>
    </div>
    <div class="form--field -required">
      <label class="form--label" title="Port" for="access_record_port">Port</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle">
          
          <%= f.text_field :port, autofocus: true, container_class: '-middle',  required: true %>
        </span>
      </span>
    </div>
    <div class="form--field -required">
      <label class="form--label" title="Username" for="access_record_username">Username</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle">
          <%= f.text_field :username, autofocus: true, container_class: '-middle',  required: true%>
        </span>
      </span>
    </div>
    <div class="form--field -required">
      <label class="form--label" title="Password" for="access_record_password">Password</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle" id="password" style="max-width: 340px !important;">
          <%= f.password_field(:password, value: @access_record.password, required: true) %>
        </span>
        <span class="form--field-affix icon-action-menu icon-unwatched" id="showPassword"></span>
      </span>
    </div>
    <div class="form--field">
      <label class="form--label" title="Description" for="access_record_description">Description</label>
      <span class="form--field-container">
        <span class="form--text-field-container -middle">
          <%= f.text_area :description, container_class: '-middle' %>
        </span>
      </span>
    </div>
  </section>

  <p>
    <%= styled_button_tag "Submit", class: '-highlight -with-icon icon-checkmark' %>
  </p>

<% end %>

