<% html_title l(:label_administration), "Show Access Record" %>
<% local_assigns[:additional_breadcrumb] = t(:label_access_record_show) %>
<%= breadcrumb_toolbar t(:label_access_record_show) %>
  <section class="form--section">
    <div class="form--field">
      <label class="form--label" for="company_name">
        <strong>Company Name :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.client.company_name %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="project_name">
        <strong>Project Name :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.project.name %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="access_type">
        <strong>Access Type :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.access_type %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="host_address">
        <strong>Host Address :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.host_address %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="port">
        <strong>Port :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.port %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="username">
        <strong>User Name :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.username %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="password">
        <strong>Password :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.password %>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label" for="description">
        <strong>Description :</strong>
      </label>
      <div class="form--field-container">
        <%= @access_record.description %>
      </div>
    </div>
  </section>

